@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

.terminalWindow
{
    width: 95%;
    height: 92%;

    padding: 10px 0 0 10px;

    overflow: scroll;

    background-color: black;
    border: 4px solid white;

    font-family: "Source Code Pro", sans-serif;
    font-size: 20px;
}

.inputContainer
{
    width: 90%;
    background-color: black;
}

.terminalInput
{
    width: 80%;

    color: yellow;
    font-family: "Source Code Pro", sans-serif;
    font-size: 20px;

    background-color: black;

    border: 0;
}

.terminalInput::placeholder
{
    font-family: "Source Code Pro", sans-serif;
    color: white;
}

.terminalInput:focus
{
    outline: none;
}

.resultContainer
{
    color: aquamarine;
    margin-bottom: 5px;
}