/*This file contains styles used to style the main landing page which is the same in every view*/

:root
{
    --palette-black: #100F0F;
    --palette-green: #0F3D3E;
    --palette-beige: #E2DCC8;
    --palette-white: #F1F1F1;
}

main
{
    /*background-color: lightgreen;*/
    height: 200vh;
}

.landingPage
{
    /*background-color: red;*/

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    font-weight: 400;
}

/*Header Styles*/
header
{
    background-color: var(--palette-black);

    width: 100%;
    min-height: 90px;
    height: 11%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav
{

    /*align-self: flex-end;*/
    /*background-color: coral;*/
}

.main-menu
{
    /*background-color: blue;*/

    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 20px 30px 0;
    padding: 0;

    height: 100%;

    font-size: 24px;
    font-weight: 600;
}

.main-menu > li
{
    padding: 8px;
}

.main-menu > li > a
{
    position: relative;
    text-decoration: none;
    color: #bfbfbf;
}

.main-menu > li > a:after
{
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -3px;

    transition: width 200ms ease-in-out;
}

.main-menu > li > a:hover
{
    transition: color 250ms ease-in-out;
    color: var(--palette-white);
}

.main-menu > li > a:hover:after
{
    width: 100%;
}

.page-logo
{
    /*background-color: purple;*/
    margin-left: 10px;
}

.page-logo > a > img
{
    margin-top: 7px;
    width: 75px;
}

/*.page-logo > h4*/
/*{*/
/*    margin: 10px 0 10px 0;*/
/*}*/
/*End of Header Styles*/

/*Section Styles*/

section
{
    background-color: var(--palette-black);

    min-height: 480px;
    height: 88%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-content-container
{
    /*background-color: purple;*/

    width: 70%;
    height: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hello-message
{
    margin-top: 65px;
    font-size: 90px;
    color: var(--palette-white);
}

.hello-description
{
    margin-top: -60px;
    margin-bottom: 70px;

    font-size: 30px;
    font-weight: 300;
}

.terminal-btn
{
    width: 280px;
    height: 80px;

    background-color: var(--palette-black);
    border: 3px solid white;
    border-radius: 20px;

    color: var(--palette-white);
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;

    transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out,
    background-color 270ms ease-in-out;
}

.terminal-btn:hover
{
    box-shadow: 0 0 40px 40px white inset;
    color: black;
    background-color: white;
}
/*End of Section Styles*/

/*Details Styles*/

.details
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    height: 6%;

    background-color: var(--palette-black);
}

.details > div
{
    height: 70%;
}

.twitter-btn
{
    margin-right: 10px;
}

.twitter-btn > a > img
{
    width: 40px;
    opacity: 70%;
    transition: opacity 150ms ease-in-out;
}

.twitter-btn > a > img:hover
{
    opacity: 100%;
}

.github-btn > a > img
{
    width: 95px;
    opacity: 70%;
    transition: opacity 150ms ease-in-out;
}

.github-btn > a > img:hover
{
    opacity: 100%;
}

.linkedin-btn
{
    margin-left: 10px;
}

.linkedin-btn > a > img
{
    width: 38px;
    opacity: 70%;
    transition: opacity 150ms ease-in-out;
}

.linkedin-btn > a > img:hover
{
    opacity: 100%;
}

/*End of Details Styles*/

/*Terminal View Styles*/

.terminalView
{
    background-color: var(--palette-black);
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.terminalView > h2
{
    margin-bottom: 5px;
}

.terminalWindow
{
    background-color: black;
}