@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import "standardView/reference_res/landingPage.css";
@import "standardView/reference_res/personalContent.css";

/*Responsive Design*/
@import "standardView/extraLarge_res/extraLarge.css";
@import "standardView/large_res/large.css";


:root
{
    --palette-background-black: #161925;
    --palette-background-white: #fbfff1;
    --palette-turqoise: #43f1e8;
    --palette-orange: #fd7921;
    --palette-text-black: #130303;

}

html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    font-family: 'Inter', sans-serif;

    background-color: black;
    color: white;

    font-size: 30px;


}

main
{
    /*background-color: lightgreen;*/
}

.orange-gradient
{
    color: #fd7921 !important;
}

.scrollTopBtn
{
    display: none;
    position: fixed;
    bottom: 15px;
    right: 35px;
    z-index: 99;

    border: none;
    border-radius: 50%;

    background-color: var(--palette-orange);
    color: var(--palette-background-white);
    cursor: pointer;

    padding: 15px;

    width: 55px;
    height: 55px;

    font-size: 18px;
}

.scrollTopBtn:hover {
    background-color: #555;
}

.arrow
{
    border: solid var(--palette-background-white);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;

    width: 12px;
    height: 12px;

    position: relative;
    bottom: 9px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}