@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:root
{
    --palette-black: #161925;
    --palette-second-black: #fbfff1;
    --palette-turqoise: #14FFEC;
    --palette-yellow: #FFF07C;
    --palette-white: #fd7921;
}

body
{
    margin: 0;
    font-family: 'Inter', sans-serif;

    background-color: black;
    color: white;

    font-size: 30px;
}

main
{
    /*background-color: lightgreen;*/


}